@{
    ViewData["Title"] = "Sin Permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Acceso Denegado</h1>
    <p>Usted no cuenta con permiso para ver esta pagina</p>
</div>

